<div class="chat-container">

  <div class="chat-header">
    AI Assistant
  </div>

  <div class="messages">

    <div *ngIf="messages.length === 0 && !stageVisible" class="welcome-message">
      Ask me anything related to cricket 🏏
    </div>

    <div
      *ngFor="let msg of messages; let i = index"
      class="message-wrapper"
      [ngClass]="{ user: msg.role === 'user', assistant: msg.role === 'assistant', final: msg.type === 'final' }"
    >
      <div class="message-bubble">

        <div class="message-content">
          {{ msg.content }}
        </div>

        <div class="followups" *ngIf="msg.followUps?.length">
          <button
            *ngFor="let follow of msg.followUps"
            class="followup-btn"
            (click)="askFollowUp(follow)"
          >
            {{ follow }}
          </button>
        </div>

      </div>
    </div>

    <div *ngIf="stageVisible && messages.length && messages[messages.length-1].role === 'user'" class="stage-line">
      <span class="stage-text">{{ stageText }}</span>
      <span class="stage-spinner"></span>
    </div>
  </div>
  <div>        
     <!-- LIMIT / ERROR BAR -->
  <div class="session-limit-bar" *ngIf="isLimitReached">
    <div class="session-limit-message">
      {{ errorMessage || 'You have reached the request limit for this session.' }}
    </div>

    <button class="login-redirect-btn" (click)="goToLogin()">
      Back to Login
    </button>
  </div>

  <div class="input-container">

    <input
      type="text"
      [(ngModel)]="question"
      (keyup.enter)="sendMessage()"
      placeholder="Ask anything..."
      [disabled]="isLimitReached"
    />

    <button (click)="sendMessage()" [disabled]="isLimitReached">
      Send
    </button>

  </div>

</div>