fastapi
uvicorn
langchain
langgraph
openai
beautifulsoup4
requests
langchain
sentence-transformers
chromadb
unstructured
lxml
html5lib
langchain-text-splitters
sqlalchemy
psycopg2-binary
python-dotenv
langchain_text_splitters
yt-dlp 
openai-whisper 
ffmpeg-python