fastapi
uvicorn
langchain
langgraph
openai
langchain-community
requests
langchain
langchain_openai
sentence-transformers
chromadb
langchain-text-splitters
sqlalchemy
psycopg2-binary
python-dotenv
langchain_text_splitters
datasets 
pandas