<div class="auth-wrapper">

  <div class="auth-card">

    <!-- Tabs -->
    <div class="tabs">
      <button (click)="switchMode('login')" [class.active]="mode === 'login'">
        Login
      </button>
      <button (click)="switchMode('signup')" [class.active]="mode === 'signup'">
        Sign Up
      </button>
    </div>

    <h1 *ngIf="mode === 'login'">Welcome back</h1>
    <h1 *ngIf="mode === 'signup'">Create account</h1>

    <p class="subtitle">
      {{ mode === 'login' ? 'Login to continue' : 'Join us today' }}
    </p>

    <!-- STATUS MESSAGES -->
    <div class="error" *ngIf="errorMsg">
      {{ errorMsg }}
    </div>
    <div class="success" *ngIf="successMsg">
      {{ successMsg }}
    </div>
    <div class="loader" *ngIf="loading">
      Please wait...
    </div>

    <!-- LOGIN FORM -->
    <form *ngIf="mode === 'login'" [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <input type="email" formControlName="email" placeholder="Email" />
      <small *ngIf="lf.email.touched && lf.email.invalid">Valid email required</small>

      <input type="password" formControlName="password" placeholder="Password" />
      <small *ngIf="lf.password.touched && lf.password.invalid">
        Min 6 characters
      </small>

      <button type="submit" [disabled]="loginForm.invalid || loading">
        {{ loading ? 'Logging in...' : 'Login' }}
      </button>

    </form>

    <!-- SIGNUP FORM -->
<form *ngIf="mode === 'signup'" [formGroup]="signupForm" (ngSubmit)="onSignup()">

  <input type="email" formControlName="email" placeholder="Email" />
  <small *ngIf="sf.email.touched && sf.email.invalid">
    Valid email required
  </small>

  <input type="password" formControlName="password" placeholder="Password" />
  <small *ngIf="sf.password.touched && sf.password.invalid">
    Min 6 characters required
  </small>

  <button type="submit" [disabled]="signupForm.invalid || loading">
    {{ loading ? 'Creating account...' : 'Sign Up' }}
  </button>

</form>

  </div>
</div>
<div class="overlay" *ngIf="loading">
  <app-spinner [size]="60"></app-spinner>
</div>